@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap");
.container {
  display: flex;
  flex-direction: row;
  gap: 2%;
  flex-wrap: wrap;
  font-family: Fustat;
}

.item:nth-child(1),
.item:nth-child(5),
.item:nth-child(7) {
  height: 32%;
  width: 40%;
}

.item:nth-child(2),
.item:nth-child(8) {
  height: 32%;
  width: 30%;
}

.item:nth-child(3),
.item:nth-child(6),
.item:nth-child(9) {
  height: 32%;
  flex-grow: 1;
}

.item:nth-child(4) {
  height: 32%;
  width: 25%;
}